<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>form15</title>
    <style>
        * {
            margin: 0;
            border: unset;
        }

        @page {
            margin: .5rem;
            display: flex;
            justify-content: center;
        }

        .bdr1b {
            border: 1px solid black;
        }

        body {
            font-family: sans-serif;
            margin: .5rem;
            display: flex;
            justify-content: center;

            /* display: grid; */
            /* align-items: center; */
            /* justify-self: center; */
        }

        #parant {
            border: 1px solid black !important;
            margin: auto;
        }

        #parant table {
            /* margin: .5rem; */

            /* margin: 1rem auto; */
            margin: 1rem auto 0.7rem auto;
        }

        table {
            width: 98%;
            border-collapse: collapse;
            /* border: 1px solid black; */
            border: none;
        }

        #childeTable1 tbody {
            font-size: .9rem;
        }

        #childeTable2 {
            width: 100%;
            border: none;
            margin: 0;
            /* margin-top: 1rem; */
        }

        #childeTable2 tbody {
            font-size: .72rem !important;
        }

        #childeTable2 tr td div {
            display: inline-block;
            margin-bottom: .4rem;
        }

        #participantsTbl th,
        #participantsTbl td {
            border: 1px solid black !important;
            /* text-align: center; */
        }

        #participantsTbl, #participantsTbl > tbody {
            font-size: 1rem !important;
            text-align: center;
        }

        #Heading1 {
            margin-bottom: 1rem !important;
            font-size: 1rem;
        }

        .imgdiv {
            display: flex;
            justify-content: center;
        }

        .imgdiv img {
            object-fit: contain;
            width: 100%;
            /* height: 100%; */
        }

        .imgcon {
            width: 5rem;
            height: 3rem;
            padding: 0 .8rem;
        }

        .m-l1 {
            margin-left: 1rem;
        }

        .lihit14 {
            line-height: 1.4;
        }

        .border-dot {
            border-bottom: 1px solid black dotted;
        }

        .selected-OPT {
            color: red;
        }

        .footer {
            border-top: 1px solid black !important;
            font-size: .6rem;
        }

        .m0 {
            margin: 0 !important;
        }
    </style>
</head>

<body>
    <table id="parant">
        <tbody>
            <tr>
                <td colspan="2">
                    <table id="childeTable1" style="margin-bottom: 0px">
                        <tbody align="center">
                            <tr class="">
                                <td class="imgcon bdr1b" rowspan="3">
                                    <div class="imgdiv">
                                        <img src="/img/largelogo.png" alt="loglarge">
                                    </div>

                                </td>
                                <td colspan="4" class="bdr1b">
                                    <strong>INTEGRATED MANAGEMENT SYSTEM </strong> (ISO 45001:2018 &#38; ISO
                                    14001:2015)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="bdr1b">Doc. Name: <strong>NEARMISS REPORTING
                                        FORMAT</strong></td>
                                <td class="bdr1b">Doc. Code: <strong>EHS-F-15</strong></td>
                            </tr>
                            <tr class="">
                                <td class="bdr1b">Issue No.: 01</td>
                                <td class="bdr1b">Issue Date: 01.03.2020</td>
                                <td class="bdr1b">Revision No: 00</td>
                                <td class="bdr1b">Revision Date: 01.03.2020</td>
                            </tr>

                            <tr>
                                <td colspan="5">
                                    <table id="childeTable2">
                                        <tbody>
                                            <tr align="center">
                                                <td  colspan="5">
                                                    <strong id="Heading1"><u>EH&S INDUCTION</u></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="">Project Name: _________________________
                                                    </div>
                                                </td>

                                                <td colspan="2" align="right">
                                                    <div class="">Date: ____________</div>
                                                    <div class="">Time.: ______________</div>
                                                </td>
                                                <!-- <td>
                                                                 Project Name
                                                            </td>
                                                            <td>
                                                                 Data
                                                            </td>
                                                            <td>Report no.</td>
                                                            <td>Data</td> -->
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class=""> Name of Contractor: _______________________________
                                                    </div>
                                                </td>
                                                <td colspan="2" align="right">
                                                    <div class=""> Venue:
                                                        ________________________________________________</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div class=""> Faculty:
                                                        ________________________________________________</div>
                                                </td>
                                                <td colspan="2" align="right">
                                                    <div class=""> Duration: _________________</div>
                                                </td>
                                            </tr>

                                            <!-- Nature of Potential Injury: ( Tick &check; in the Boxes ) -->
                                            <tr>
                                                <td colspan="5">
                                                    <div class=""><strong>Undertaking:</strong> <span>(Tick &#10003; in
                                                            the Boxes)</span>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <div class="lihit14">I, the undersigned, have attended the EHS
                                                        Induction Training and understood the requirements of following
                                                        Health & Safety rules in work place and agreed to follow them.
                                                        My signature is appended below.
                                                        The following Staff / Technicians / Contractor / Labour have
                                                        joined and commenced work at site. They have been imparted EHS
                                                        Induction Training. The Points covered in the training are:
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- Activity: ( Tick ✓ in the Boxes ) -->
                                            <tr>
                                                <td align="center" colspan="">
                                                    <div class=""><strong>Topics Discussed: :</strong> <span>( Tick
                                                            ✓ in the Boxes )</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table style="margin: 0;">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td></td>
                                                <td colspan="3">
                                                    <table style="margin: 0;">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="display: block;" class="">
                                                                        • Unsafe
                                                                        Condition</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center" colspan="5">
                                                    <div id="Heading1" class=""><strong>PARTICIPANTS</strong></div>
                                                </td>
                                            </tr>
                
                                            <tr>
                                                <td colspan="5">
                                                    <table class="m0" id="participantsTbl">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr. No</th>
                                                                <th>ID No.</th>
                                                                <th>Name of the Participants</th>
                                                                <th>Age</th>
                                                                <th>Designation</th>
                                                                <th>Signature</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>12</td>
                                                                <td>Naseem</td>
                                                                <td>65</td>
                                                                <td>Dev</td>
                                                                <td>NK</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr >
                                                <td class="" colspan="3">
                                                    <div style="margin-top: 1rem;" class="">Signature of the Faculty: ____________________________</div>
                                                </td>
                                                <td colspan="2">
                                                    <div style="margin-top: 1rem;" class="">Name & Sign. Of Site Safety In charge:___________</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div class=""><strong> RECORD REFERENCE:</strong></div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="border-top: 1px solid black;font-size: .6rem;">
                                <td colspan="4" align="left">
                                    <div>
                                        IMS VOLUME-I / SECTION-V EHS FORMATS / EHS-F-15
                                    </div>
                                </td>
                                <td align="right">
                                    printed 0
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>